.ImageFixed img {
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.product-section {
  margin: 40px 20px;
}

.category-section {
  margin: 20px 0;
}

.category-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.category-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.product-card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  text-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .product-card {
    width: 47%;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  text-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  }
}
